READING AND WRITING FILES WITH JSON

Name : Meghana Samala
Id : 163848
CLASSWORK

In [1]:
pip install faker

Collecting faker
  Downloading faker-37.6.0-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: tzdata in /opt/anaconda3/lib/python3.13/site-packages (from faker) (2025.2)
Downloading faker-37.6.0-py3-none-any.whl (1.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.9/1.9 MB 38.5 MB/s  0:00:00
Installing collected packages: faker
Successfully installed faker-37.6.0
Note: you may need to restart the kernel to use updated packages.

In [2]:
from faker import Faker
import csv

fake = Faker()

header = ['name','age','street','city','state','zip','lng','lat']

with open('data.CSV', 'w', newline='', encoding='utf-8') as output:
    mywriter = csv.writer(output)
    mywriter.writerow(header)

    for r in range(10):
        mywriter.writerow([
            fake.name(),
            fake.random_int(min=18, max=80, step=1),
            fake.street_address(),
            fake.city(),
            fake.state(),
            fake.zipcode(),
            fake.longitude(),
            fake.latitude()
        ])

In [3]:
import pandas as pd
df=pd.read_csv("data.CSV")
print(df)

                    name  age                           street  \
0  Mrs. Elaine Smith DVM   79      468 Wright Meadows Apt. 361
1        Samantha Reeves   36               144 Elizabeth Club
2           Sarah Hooper   66     3283 Maria Crescent Apt. 601
3            Jason Perry   43     3045 Andrea Forest Suite 688
4            Dawn Gentry   41                 991 Greer Meadow
5         Victoria Moore   75       37333 Patel Cliff Apt. 081
6      Patricia Anderson   78      58018 Jacob Knolls Apt. 659
7       Brittney Johnson   30                82452 Sean Meadow
8             Lance Cook   36          2525 Jake Fork Apt. 910
9        Dr. Robert Neal   60  167 Christopher Fields Apt. 333

              city           state    zip         lng        lat
0      Port Alicia            Utah  29454  -41.771679   8.420680
1    New Soniafurt          Oregon  12789  104.225435 -27.026062
2   Lake Susanfurt        Missouri  89952  -51.242919  40.173169
3  South Bruceberg  North Carolina  33817   43.074304  84.988703
4      Thomasshire       Wisconsin  53314  -73.325520 -57.019576
5       Fullertown        New York  71282  124.273858  82.433769
6          New Amy            Ohio  95173  145.701771  43.797518
7       Murphystad           Idaho  86703  -99.600043  52.531728
8  East Danielport      Washington  49226 -161.727036 -88.119326
9  South Stephanie          Oregon  55182  105.092261  54.090794

In [4]:
with open("data.CSV", "r", encoding="utf-8") as f:
    reader = csv.reader(f)
    for row in reader:
        print(row)

['name', 'age', 'street', 'city', 'state', 'zip', 'lng', 'lat']
['Mrs. Elaine Smith DVM', '79', '468 Wright Meadows Apt. 361', 'Port Alicia', 'Utah', '29454', '-41.771679', '8.4206795']
['Samantha Reeves', '36', '144 Elizabeth Club', 'New Soniafurt', 'Oregon', '12789', '104.225435', '-27.0260625']
['Sarah Hooper', '66', '3283 Maria Crescent Apt. 601', 'Lake Susanfurt', 'Missouri', '89952', '-51.242919', '40.1731685']
['Jason Perry', '43', '3045 Andrea Forest Suite 688', 'South Bruceberg', 'North Carolina', '33817', '43.074304', '84.988703']
['Dawn Gentry', '41', '991 Greer Meadow', 'Thomasshire', 'Wisconsin', '53314', '-73.325520', '-57.019576']
['Victoria Moore', '75', '37333 Patel Cliff Apt. 081', 'Fullertown', 'New York', '71282', '124.273858', '82.433769']
['Patricia Anderson', '78', '58018 Jacob Knolls Apt. 659', 'New Amy', 'Ohio', '95173', '145.701771', '43.797518']
['Brittney Johnson', '30', '82452 Sean Meadow', 'Murphystad', 'Idaho', '86703', '-99.600043', '52.5317285']
['Lance Cook', '36', '2525 Jake Fork Apt. 910', 'East Danielport', 'Washington', '49226', '-161.727036', '-88.119326']
['Dr. Robert Neal', '60', '167 Christopher Fields Apt. 333', 'South Stephanie', 'Oregon', '55182', '105.092261', '54.090794']

In [5]:

from faker import Faker
import json

output = open('data.JSON', 'w')

fake = Faker()
alldata = {}
alldata['records'] = []

In [7]:
for x in range(10):
    data = {
        "name": fake.name(),
        "age": fake.random_int(min=18, max=80, step=1),
        "street": fake.street_address(),
        "city": fake.city(),
        "state": fake.state(),
        "zip": fake.zipcode(),
        "lng": float(fake.longitude()),
        "lat": float(fake.latitude())
    }
    alldata['records'].append(data)
print(alldata)

{'records': [{'name': 'Patty Stevens', 'age': 20, 'street': '6129 Deanna Parkway', 'city': 'New Barbarachester', 'state': 'Georgia', 'zip': '46417', 'lng': -156.112402, 'lat': -47.339187}, {'name': 'James Duarte', 'age': 46, 'street': '0175 Edward Roads', 'city': 'New Krystalside', 'state': 'Washington', 'zip': '86578', 'lng': -157.143362, 'lat': 61.2428575}, {'name': 'Kimberly Hensley', 'age': 38, 'street': '84787 Brandon Grove Suite 262', 'city': 'Aguilarview', 'state': 'Nebraska', 'zip': '63923', 'lng': -135.065785, 'lat': 9.2878195}, {'name': 'Doris Branch', 'age': 28, 'street': '0950 Harris Rapid', 'city': 'Stokesmouth', 'state': 'California', 'zip': '28941', 'lng': 139.510593, 'lat': 11.1569285}, {'name': 'William Little', 'age': 37, 'street': '427 Sharon Rapids', 'city': 'Adamsmouth', 'state': 'Oklahoma', 'zip': '29144', 'lng': 95.098756, 'lat': -81.755863}, {'name': 'Ashley Humphrey', 'age': 24, 'street': '5832 Debra Mall', 'city': 'South Christopher', 'state': 'Wyoming', 'zip': '44303', 'lng': 119.09402, 'lat': -71.802211}, {'name': 'Heather Conrad', 'age': 80, 'street': '5855 Ethan Springs', 'city': 'Crystalmouth', 'state': 'Minnesota', 'zip': '30615', 'lng': -97.668588, 'lat': 62.664458}, {'name': 'Alexandra Stephenson', 'age': 60, 'street': '5976 Gonzales Greens Suite 780', 'city': 'Danielmouth', 'state': 'Arkansas', 'zip': '05077', 'lng': 56.182352, 'lat': 3.8563385}, {'name': 'Suzanne Ali', 'age': 18, 'street': '9308 Linda Road', 'city': 'New Ashlee', 'state': 'Iowa', 'zip': '86955', 'lng': 47.115933, 'lat': -39.492098}, {'name': 'Kimberly Reynolds', 'age': 59, 'street': '390 Garcia Meadows Suite 021', 'city': 'Paulaburgh', 'state': 'Virginia', 'zip': '15045', 'lng': -93.060102, 'lat': -39.744227}, {'name': 'Bianca Conrad', 'age': 45, 'street': '6834 Lisa Unions Apt. 622', 'city': 'West Robertstad', 'state': 'Vermont', 'zip': '52205', 'lng': -167.068973, 'lat': 72.4800225}, {'name': 'Amanda Rice', 'age': 65, 'street': '78027 Henderson Freeway', 'city': 'Kylebury', 'state': 'Alaska', 'zip': '17105', 'lng': -29.130553, 'lat': 25.056716}, {'name': 'Mary Leonard DVM', 'age': 74, 'street': '04830 Elizabeth Centers Suite 605', 'city': 'Sheilaville', 'state': 'South Dakota', 'zip': '53515', 'lng': 123.531268, 'lat': 24.423438}, {'name': 'Edward Watson', 'age': 53, 'street': '477 Parks Heights Apt. 773', 'city': 'East Jose', 'state': 'Nevada', 'zip': '43999', 'lng': 167.076035, 'lat': -26.040775}, {'name': 'Omar Ward', 'age': 40, 'street': '242 Lisa Key Apt. 901', 'city': 'South Debbie', 'state': 'Massachusetts', 'zip': '43544', 'lng': -120.391582, 'lat': -2.769076}, {'name': 'Max Davis', 'age': 80, 'street': '8162 Cantu Vista Apt. 756', 'city': 'Port Shawn', 'state': 'North Carolina', 'zip': '28084', 'lng': -118.006446, 'lat': -36.370344}, {'name': 'Katrina Shah', 'age': 42, 'street': '03417 Walter Courts', 'city': 'Howellburgh', 'state': 'Michigan', 'zip': '51469', 'lng': -117.493691, 'lat': -87.6959285}, {'name': 'Eric Miller', 'age': 59, 'street': '95885 Carmen Corner', 'city': 'Lake Shelby', 'state': 'Arkansas', 'zip': '41433', 'lng': 61.453059, 'lat': -69.9238855}, {'name': 'Tyler Ibarra', 'age': 79, 'street': '07350 Beverly Drives Suite 465', 'city': 'Markview', 'state': 'Pennsylvania', 'zip': '76744', 'lng': -172.77272, 'lat': -34.1332255}, {'name': 'Robin Freeman', 'age': 47, 'street': '12362 Yvette Fork', 'city': 'Mosleymouth', 'state': 'Minnesota', 'zip': '48312', 'lng': -109.652395, 'lat': -7.3297195}]}

In [8]:
import json
# Save data
with open("data.JSON", "w") as output:
    json.dump(alldata, output, indent=4)

# Read data back
with open("data.JSON", "r") as f:
    data = json.load(f)
    print(data['records'][0])   # Example: first record

{'name': 'Patty Stevens', 'age': 20, 'street': '6129 Deanna Parkway', 'city': 'New Barbarachester', 'state': 'Georgia', 'zip': '46417', 'lng': -156.112402, 'lat': -47.339187}

In [9]:
import pandas.io.json as pd_JSON

In [10]:
f=open('data.JSON','r')
from pandas import json_normalize

In [11]:
import pandas as pd
import json

# Load JSON
with open("data.JSON", "r") as f:
    data = json.load(f)

# Normalize into a DataFrame
df = pd.json_normalize(data['records'])

print(df.head())

               name  age                         street                city  \
0     Patty Stevens   20            6129 Deanna Parkway  New Barbarachester
1      James Duarte   46              0175 Edward Roads     New Krystalside
2  Kimberly Hensley   38  84787 Brandon Grove Suite 262         Aguilarview
3      Doris Branch   28              0950 Harris Rapid         Stokesmouth
4    William Little   37              427 Sharon Rapids          Adamsmouth

        state    zip         lng        lat
0     Georgia  46417 -156.112402 -47.339187
1  Washington  86578 -157.143362  61.242857
2    Nebraska  63923 -135.065785   9.287819
3  California  28941  139.510593  11.156928
4    Oklahoma  29144   95.098756 -81.755863

In [12]:
df.head(2).to_json()

'{"name":{"0":"Patty Stevens","1":"James Duarte"},"age":{"0":20,"1":46},"street":{"0":"6129 Deanna Parkway","1":"0175 Edward Roads"},"city":{"0":"New Barbarachester","1":"New Krystalside"},"state":{"0":"Georgia","1":"Washington"},"zip":{"0":"46417","1":"86578"},"lng":{"0":-156.112402,"1":-157.143362},"lat":{"0":-47.339187,"1":61.2428575}}'

In [13]:
df.head(2).to_json(orient='records')

'[{"name":"Patty Stevens","age":20,"street":"6129 Deanna Parkway","city":"New Barbarachester","state":"Georgia","zip":"46417","lng":-156.112402,"lat":-47.339187},{"name":"James Duarte","age":46,"street":"0175 Edward Roads","city":"New Krystalside","state":"Washington","zip":"86578","lng":-157.143362,"lat":61.2428575}]'